<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <input type="checkbox" name="no" value="1">
        <input type="checkbox" name="no" value="2">
        <input type="checkbox" name="no" value="3">
        <input type="checkbox" name="no" value="4">
        <input type="checkbox" name="no" value="5">
        <input type="checkbox" name="no" value="6">
        <input type="checkbox" name="no" value="7">
        <input type="checkbox" name="no" value="8">
        <input type="checkbox" name="no" value="9">
        <input type="checkbox" name="no" value="10">
        
        <button type="submit">전송</button>
    </form>
</body>
</html>