<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/test/re">
        <input type="checkbox" name="no" value="1">
        <input type="checkbox" name="no" value="2">
        <input type="checkbox" name="no" value="3">
        <input type="checkbox" name="no" value="4">
        <input type="checkbox" name="no" value="5">
        <input type="checkbox" name="no" value="6">
        <input type="submit" value="전송">
    </form>
</body>
</html>